-# frozen_string_literal: true
= simple_form_for(@reserf) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    - if current_user.has_role?(:admin) 
      = f.association :user
    - else
      = f.input :user, :input_html => { :value => current_user.email }
    - if @room.value
      = f.input :room, :input_html => { :value => room_id }
    - else
      = f.association :room

    
    = f.input :first_name
    = f.input :last_name
    = f.input :check_in
    = f.input :check_out
    = f.input :adults
    = f.input :children
    = f.input :phone_num

  .form-actions
    = f.button :submit
