- content_for :title do 
  Hotel 
  \|
  All Booking
.container
  %h3
    .text-center
      Booking 
      .badge.badge-info 
        = @reserves.count
    %p
  %h1 Listing Booking
  .table-responsive
    %table.table.table-bordered.table-striped.table-sm
      %thead
        %tr
          %th Room
          %th 
            .fa.fa-user
            User
          %th First name
          %th Last name
          %th 
            .fa.fa-clock
            Check in
          %th 
            .fa.fa-clock
            Check out
          %th Adults
          %th Children
          %th 
            .fa.fa-phone
            Phone num
          %th
          %th
          %th

      %tbody
        - @reserves.each do |reserf|
          %tr
            %td= link_to reserf.room, room_path(reserf.room)
            %td= link_to reserf.user, user_path(reserf.user)
            %td= reserf.first_name
            %td= reserf.last_name
            %td
              - if reserf.check_in
                = reserf.check_in.strftime("%d/%b/%Y")
            %td
              - if reserf.check_out
                = reserf.check_out.strftime("%d/%b/%Y")
            %td= reserf.adults
            %td= reserf.children
            %td= reserf.phone_num
            %td= link_to 'Show', reserf
            %td= link_to 'Edit', edit_reserf_path(reserf)
            %td= link_to 'Destroy', reserf, method: :delete, data: { confirm: 'Are you sure?' }

    %br

    = link_to 'New Book', new_reserf_path
    -# != pagy_nav(@pagy)
    -# != pagy_bootstrap_nav(@pagy)
    -# != pagy_bootstrap_nav_js(@pagy)
    != pagy_bootstrap_combo_nav_js(@pagy)