.col-md-4
  .blog-entry.align-self-stretch
    - if blog.avatar.attached?
      = image_tag blog.avatar, width: "100%";
    .text.p-4.text-center
      %h3.heading
        = link_to blog.title, blog
      .meta.mb-2
        %div
          %p
            = blog.created_at
        %div
          %p 
            Admin
      %p 
        = blog.description
      - if current_user
        - if current_user.has_role?(:admin)
          = link_to 'Edit', edit_blog_path(blog), class: 'btn btn-sm btn-warning'
          = link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'