.col-md-4
  %section.ftco-section.ftco-services
    .container
      .row
        .d-flex.services.align-self-stretch.px-4.ftco-animate
          .d-block.services-wrap.text-center
            .media-body.py-4.px-3
              - if hotel_intro.avatar.attached?
                = image_tag hotel_intro.avatar, width: "100%";
              %h2.heading
                = hotel_intro.title
              %p 
                = hotel_intro.description 
              

                    
              %p
              - if current_user
                - if current_user.has_role?(:admin)
                  = link_to 'Edit', edit_hotel_intro_path(hotel_intro), class: 'btn btn-sm btn-warning'
                  = link_to 'Destroy', hotel_intro, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'
