%h1 Listing information

%table
  %thead
    %tr
      %th Title
      %th Description
      %th
      %th
      %th

  %tbody
    - @information.each do |information|
      %tr
        %td= information.title
        %td= information.description
        %td= link_to 'Show', information
        %td= link_to 'Edit', edit_information_path(information)
        %td= link_to 'Destroy', information, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Information', new_information_path
