%p#notice= notice

%p
  %b Title:
  = @information.title
%p
  %b Description:
  = @information.description

= link_to 'Edit', edit_information_path(@information)
\|
= link_to 'Back', information_index_path
