.hero-wrap.js-fullheight{"data-stellar-background-ratio" => "0.5", style: "margin-bottom: -100px; background-image: url('http://127.0.0.1:3000#{url_for(@main.avatar)}');"}
  -# = image_tag @main.avatar, width: "100%";
  .overlay
  .container
    .row.no-gutters.slider-text.js-fullheight.align-items-center.justify-content-start{"data-scrollax-parent" => "true"}
      .col-md-7
        %h2.subheading 
          = @main.first_title
        %h1.mb-4 
          = @main.first_description

-# %section.ftco-section.ftco-book.ftco-no-pt.ftco-no-pb
-#   .container
-#     .row.justify-content-end
-#       .col-lg-4
-#         %form.appointment-form{action: "#"}
-#           %h3.mb-3 Book your apartment
-#           .row
-#             .col-md-12
-#               .form-group
-#                 %input.form-control{placeholder: "Full Name", type: "text"}/
-#             .col-md-6
-#               .form-group
-#                 .input-wrap
-#                   .icon
-#                     %span.ion-md-calendar
-#                   %input.form-control.appointment_date-check-in{placeholder: "Check-In", type: "text"}/
-#             .col-md-6
-#               .form-group
-#                 .input-wrap
-#                   .icon
-#                     %span.ion-md-calendar
-#                   %input.form-control.appointment_date-check-out{placeholder: "Check-Out", type: "text"}/
-#             .col-md-6
-#               .form-group
-#                 .form-field
-#                   .select-wrap
-#                     %select.form-control{id: "", name: ""}
-#                       %option{value: ""} Adults
-#                       %option{value: ""} 1
-#                       %option{value: ""} 2
-#                       %option{value: ""} 3
-#                       %option{value: ""} 4
-#                       %option{value: ""} 5
-#             .col-md-6
-#               .form-group
-#                 .form-field
-#                   .select-wrap
-#                     %select.form-control{id: "", name: ""}
-#                       %option{value: ""} Children
-#                       %option{value: ""} 1
-#                       %option{value: ""} 2
-#                       %option{value: ""} 3
-#                       %option{value: ""} 4
-#                       %option{value: ""} 5
-#             .col-md-6
-#               .form-group
-#                 %input.form-control{placeholder: "Phone number", type: "text"}/
-#             .col-md-6
-#               .form-group
-#                 .input-wrap
-#                   .icon
-#                     %span.ion-ios-clock
-#                   %input.form-control.appointment_time{placeholder: "Time", type: "text"}/
-#             .col-md-12
-#               .form-group
-#                 %input.btn.btn-primary.py-3.px-4{type: "submit", value: "Book Appartment Now"}/
.container
  - @rooms.each do |room|
    = render 'rooms/room', room: room
  

.row
%section.ftco-intro{"data-stellar-background-ratio" => "0.5", style: "background-image: url('http://127.0.0.1:3000#{url_for(@main.avatar)}');"}
  .overlay
  .container
    .row.justify-content-center
      .col-md-9.text-center
        %h2 
          = @main.second_title
        %p.mb-4 
          = @main.second_description
        %p.mb-0
.p
.container
  - @hotel_intros.each do |hotel_intro|
    = render 'hotel_intros/hotel', hotel_intro: hotel_intro

%section.bg-light
  .container
    .row
      .col-md-6.wrap-about
        = image_tag @recommend.avatar, width: "100%";
        %h2 
          = @recommend.title
        %p 
          = @recommend.description
        - if current_user
          - if current_user.has_role?(:admin)
            = link_to 'Edit', edit_recommend_path(@recommend), class: 'btn btn-lm btn-warning'
        
      .col-md-6.wrap-about.ftco-animate
        .heading-section
          .pl-md-5
            %h2.mb-2 What we offer
        .pl-md-5
          %p A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
          .row
            - @services.each do |service|
              .services-2.col-md-3.d-flex.w-50
                .icon.d-flex.justify-content-center.align-items-center
                  %span{class: "#{service.icon}"}
                .media-body.pl-3
                  %h3.heading 
                    = service.title
                  %p 
                    = service.description
                  - if current_user
                    - if current_user.has_role?(:admin)
                      = link_to 'Edit', edit_service_path(service), class: 'btn btn-sm btn-warning'
                      = link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'
            
    .text-center
      .blog-news
        %h1
          Latest news from our blog
        .subheading 
          = link_to "News & Blog", blogs_path
          

.row
.container
  - @blogs.each do |blog|
    = render 'blogs/blog', blog: blog
.row