%h1 Listing recommends

%table
  %thead
    %tr
      %th Title
      %th Description
      %th
      %th
      %th

  %tbody
    - @recommends.each do |recommend|
      %tr
        %td= recommend.title
        %td= recommend.description
        %td= link_to 'Show', recommend
        %td= link_to 'Edit', edit_recommend_path(recommend)
        %td= link_to 'Destroy', recommend, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Recommend', new_recommend_path
