-# frozen_string_literal: true
= simple_form_for(@contact) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :title
    = f.input :description
    = f.input :address
    = f.input :phone
    = f.input :email
    = f.input :websit
    = f.input :map_area

  .form-actions
    = f.button :submit
