%section.hero-wrap.hero-wrap-2{"data-stellar-background-ratio" => "0.5", style: "background-image: url('http://127.0.0.1:3000#{url_for(@about.avatar)}');"}
  .overlay
  .container
    .row.no-gutters.slider-text.align-items-center.justify-content-center
      .col-md-9.text-center
        %p.breadcrumbs.mb-2
          %span
            Home  Contact 
            %i.ion-ios-arrow-forward
        %h1.mb-0.bread 
          Contact Us
%section
  .container
    .row.no-gutters
      .col-md-8
        #map.map
          .mapouter
            .gmap_canvas
              %iframe#gmap_canvas{frameborder: "0", height: "450", marginheight: "0", marginwidth: "0", scrolling: "no", src: "https://maps.google.com/maps?width=600&height=400&hl=en&q=Azadi Square, Sanandaj, Kurdistan Province, Iran&t=&z=14&ie=UTF8&iwloc=B&output=embed", width: "100%"}
              %a{href: "https://fmovies-online.net"}
              %br/
              :css
                .mapouter{position:relative;text-align:right;height:450px;width:100%;}
              %a{href: "https://www.embedgooglemap.net"} custom embedded google map
              :css
                .gmap_canvas {overflow:hidden;background:none!important;height:450px;width:100%;}
      .col-md-4.p-4.p-md-5.bg-white
        %h2.font-weight-bold.mb-4 
          = @contact.title
        %p 
          = @contact.description
        %p
          %a.btn.btn-primary{href: "#"} Book Apartment Now
      .col-md-12
        .wrapper
          .row.no-gutters
            .col-lg-8.col-md-7.d-flex.align-items-stretch
              
            .col-lg-4.col-md-5.d-flex.align-items-stretch
              .info-wrap.bg-prim.w-100.p-md-5.p-4
                %h3 Let's get in touch
                %p.mb-4 We're open for any suggestion or just to have a chat
                .dbox.w-100.d-flex.align-items-start
                  .icon.d-flex.align-items-center.justify-content-center
                    %span.fa.fa-map-marker
                  .text.pl-3
                    %p
                      %span 
                        Address:
                        = @contact.address
                .dbox.w-100.d-flex.align-items-center
                  .icon.d-flex.align-items-center.justify-content-center
                    %span.fa.fa-phone
                  .text.pl-3
                    %p
                      %span 
                        Phone:
                        = @contact.phone
                .dbox.w-100.d-flex.align-items-center
                  .icon.d-flex.align-items-center.justify-content-center
                    %span.fa.fa-paper-plane
                  .text.pl-3
                    %p
                      %span 
                        Email:
                        = @contact.email
                .dbox.w-100.d-flex.align-items-center
                  .icon.d-flex.align-items-center.justify-content-center
                    %span.fa.fa-globe
                  .text.pl-3
                    %p
                      %span 
                        Website
                        = @contact.websit

.container
  -# = link_to 'Show', @contact
  - if current_user
    - if current_user.has_role?(:admin)
      = link_to 'Edit page', edit_contact_path(@contact), class: 'btn btn-sm btn-warning'
  -# = link_to 'Destroy', @contact, method: :delete, data: { confirm: 'Are you sure?' }

  %br

  -# = link_to 'New Contact', new_contact_path
