.container
  %h1 Listing mains

  %table.table
    %thead
      %tr
        %th First title
        %th First description
        %th Second title
        %th Second description
        %th
        %th
        %th

    %tbody
      - @mains.each do |main|
        %tr
          %td= main.first_title
          %td= main.first_description
          %td= main.second_title
          %td= main.second_description
          %td= link_to 'Edit', edit_main_path(main), class: 'btn btn-sm btn-warning'

  %br

