-# frozen_string_literal: true
= simple_form_for(@room) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :title
    = f.label :description
    = f.file_field :avatar
    = f.rich_text_area :description
    %small= f.error :description, class: 'text-danger'
    = f.input :short_description
    = f.input :size, collection: ["20", "30", "40", "50"]
    = f.input :view, collection: ["City", "Sea", "Mountain", "Hotel grounds", "No View"]
    = f.input :bed, collection: ["1", "2", "3", "4"] 
    = f.input :price
    = f.input :opacity, collection: ["1", "2", "3", "4", "5", "6"]
  %p
  .form-actions
    = f.button :submit, class: 'btn-sm btn-success'
