.col-md-4
  %section.ftco-section.ftco-services
    .container
      .row
        .d-flex.services.align-self-stretch.px-4.ftco-animate
          .d-block.services-wrap.text-center
            .media-body.py-4.px-3
              - if room.avatar.attached?
                = image_tag room.avatar, width: "100%";
              %h2.heading
                = room.title
              %p 
                = room.short_description  
              %p.text-success
                = number_to_currency(room.price)
                per night
              %h4 
                %b= 'size'.humanize + ":"
                = room.size 
                m2
              %h4   
                %b= 'view'.humanize + ":"
                = room.view 
              %h4   
                .fas.fa-bed
                %b= 'bed'.humanize + ":"
                = room.bed 
              %h4   
                .fa.fa-users
                %b= 'max'.humanize + ":"
                = room.opacity
                Persons
              %p
                = link_to 'Read more', room, class: 'btn btn-primary'
                    
              %p
                - if current_user
                  = link_to 'Edit', edit_room_path(room), class: 'btn btn-sm btn-warning' if policy(room).edit?
                  = link_to 'Destroy', room, method: :delete, data: {confirm: 'Are you sure? '}, class: 'btn btn-sm btn-danger' if policy(room).destroy?