- content_for :title do 
  Hotel 
  \|
  All rooms
.container
  %h3
    .text-center
      Rooms 
      .badge.badge-info 
        = @rooms.count

  %p

  .row 
    .col-md-2 
      = search_form_for @ransack_rooms, as: :rooms_search, url: @ransack_path do |f|
    
        = f.label :title
        = f.search_field :title_cont, placeholder: "Title", class: 'form-control form-control-sm'                          # cont => contain
        = f.label :description
        = f.search_field :short_description_cont, placeholder: "Description", class: 'form-control form-control-sm'
        -# = f.search_field :language_cont, placeholder: "Language", class: 'form-control form-control-sm'
        %p
        = f.label :bed
        = f.select :bed_eq, Room.beds, include_blank: true
        -# = f.search_field :level_cont, placeholder: "Level", class: 'form-control form-control-sm'
        %br
        = f.label :opacity
        = f.select :opacity_eq, Room.opacitys, include_blank: true
        %br
        = f.label :view
        = f.search_field :view_cont, placeholder: "View", class: 'form-control form-control-sm' 
        %br
        = f.label :size
        = f.search_field :size_eq, placeholder: "Size", class: 'form-control form-control-sm'
        %br
        = f.label :price
        = f.search_field :price_eq, placeholder: "Price", class: 'form-control form-control-sm'   
        %p
        = f.submit 
      = link_to 'refresh', @ransack_path

    .col-md-10
      - @rooms.in_groups_of(3, false).each do |item|
        .row
          - item.each do |room|
            = render 'rooms/room', room: room
        
    %p
    -# != pagy_nav(@pagy)
    -# != pagy_bootstrap_nav(@pagy)
    -# != pagy_bootstrap_nav_js(@pagy)
    != pagy_bootstrap_combo_nav_js(@pagy)

  %br



