.wrap
  .container
    .row.justify-content-between
      .col.d-flex.align-items-center
        %p.mb-0.phone
          %span.mailus Phone no:
          %a{href: "#"} +00 1234 567
          or
          %span.mailus email us:
          %a{href: "#"} shadman@email.com
      .col.d-flex.justify-content-end
        .social-media
          %p.mb-0.d-flex
            %a.d-flex.align-items-center.justify-content-center{href: "#"}
              %span.fa.fa-facebook
                %i.sr-only Facebook
            %a.d-flex.align-items-center.justify-content-center{href: "#"}
              %span.fa.fa-twitter
                %i.sr-only Twitter
            %a.d-flex.align-items-center.justify-content-center{href: "#"}
              %span.fa.fa-instagram
                %i.sr-only Instagram
            %a.d-flex.align-items-center.justify-content-center{href: "#"}
              %span.fa.fa-dribbble
                %i.sr-only Dribbble

%nav#ftco-navbar.navbar.navbar-expand-lg.ftco_navbar.ftco-navbar-light
  .container
    %a.navbar-brand{href: "/"}
      .fas.fa-hotel
      Hotel
      %span Rental
    -# %button.navbar-toggler{"aria-controls" => "ftco-nav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#ftco-nav", "data-toggle" => "collapse", type: "button"}
    -#   %span.fa.fa-bars
    -#   Menu
    - if current_user 
      
      #ftco-nav.collapse.navbar-collapse
        %ul.navbar-nav.ml-auto
          %li.nav-item{class: "#{'active' if current_page?(root_path)}"}
            = link_to root_path, class: "nav-link" do
              Home
          %li.nav-item{class: "#{'active' if current_page?(abouts_path)}"}
            = link_to abouts_path, class: "nav-link" do
              About
          %li.nav-item{class: "#{'active' if current_page?(services_path)}"}
            = link_to services_path, class: "nav-link" do
              Services               

          %li.nav-item{class: "#{'active' if current_page?(rooms_path)}"}
            = link_to rooms_path, class: "nav-link" do
              Rooms                
          %li.nav-item{class: "#{'active' if current_page?(blogs_path)}"}
            = link_to blogs_path, class: "nav-link" do
              Blog              
          %li.nav-item{class: "#{'active' if current_page?(contacts_path)}"}
            = link_to contacts_path, class: "nav-link" do
              Contact
          - if current_user.has_role?(:admin)
            %li.nav-item.dropdown{class: "#{'active' if current_page?(users_path) || current_page?(enrollments_path) || current_page?(home_activity_path) || current_page?(mains_path) || current_page?(hotel_intros_path) || current_page?(new_service_path) || current_page?(new_room_path) || current_page?(new_blog_path)}"}
              %a#adminDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
                .fa.fa-cog
                Admin
              .dropdown-menu{"aria-labelledby" => "adminDropdown"}
                = link_to users_path, class: "dropdown-item" do
                  .fa.fa-users
                  Users
                = link_to enrollments_path, class: "dropdown-item" do
                  .fa.fa-lock-open
                  Enrollments 
                = link_to home_activity_path, class: "dropdown-item" do
                  .fa.fa-bell 
                  Activity 
                = link_to mains_path, class: "dropdown-item" do
                  .fa.fa-home
                  Home page edit
                = link_to hotel_intros_path, class: "dropdown-item" do
                  .fa.fa-cog 
                  Hotel intro
                = link_to new_service_path, class: "dropdown-item" do
                  .fa.fa-plus
                  New Service
                = link_to new_room_path, class: "dropdown-item" do
                  .fa.fa-plus
                  New Room
                = link_to new_blog_path, class: "dropdown-item" do
                  .fa.fa-plus
                  New Blog
                = link_to recommends_path, class: "dropdown-item" do
                  .fa.fa-plus
                  Recommend
          
          .form-inline
            = search_form_for @ransack_rooms, as: :rooms_search, url: rooms_path do |f|
              .input-group 
                = f.search_field :title_or_short_description_cont, class: 'form-control', style: 'float: left; width: 150px; height: 25px;', placeholder: "Find a room"
                %span.input-group-append
                  %button.btn.btn-primary.btn-xm{:type => "submit"} 
                    %span.fa.fa-search{"aria-hidden" => "true"}

          
          %li.nav-item.dropdown
            %a#adminDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
              %b= current_user.email.split("@").first
            .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdown"}
              = link_to edit_user_registration_path, class: "dropdown-item" do
                %i.fa.fa-cog
                %b Account settings
              = link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do
                %i.fa.fa-sign-out-alt 
                %b Sign out 
    - else 
      #ftco-nav.collapse.navbar-collapse
        %ul.navbar-nav.ml-auto
          %li.nav-item
            = link_to new_user_registration_path, class: "nav-link" do
              Sign Up
          %li.nav-item
            = link_to new_user_session_path, class: "nav-link" do
              Log In

-# - if current_user 
-#   = current_user.email
-#   = link_to 'Account setting', edit_user_registration_path 
-#   = link_to 'Sign out', destroy_user_session_path, :method => :delete 
-# - else 
-#   = link_to 'Sign Up', new_user_registration_path 
-#   = link_to 'Log In', new_user_session_path 
